/* teal.goshawk custom css */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.inline-block{
  display: inline-block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.w-65px {
  width: 65px;
}
